
body {
    background-image: url('./images/gold-background.jpg');

}
 /* ----------- Navbar ----------- */
.navbar {
    background: transparent;
}
.nav-item a {
    color: black;
    font-family: cursive;
    font-size: 18px;
}
.icontext {
    color: black;
    font-family: cursive;
    font-size: 18px;
}
 /* ----------- Hero content ----------- */
 .introduction-background {
    padding-top: 30%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-size: cover;
    background-position: center;
}
.overlay {
    top: 0;
}
#name {
    font-weight: bold;
    font-family: cursive;
    border-bottom: 1px solid gold;
}
