
body {
    background-image: url('./images/gold-background.jpg');
    font-family: cursive;
}

 /* ----------- Navbar ----------- */
.navbar {
    background: transparent;
    right: 0;
    margin-top: 15px;
}
.nav-item a {
    color: black;
    font-size: 18px;
}
.icontext {
    color: black;
    font-size: 18px;
}
 /* ----------- Hero content ----------- */
 body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero-content {
    position: relative;
    text-align: center;
}
.fa-brands {
    color: black;
}
.socialmedia li {
    display: inline;
    margin: 10px;
}
.socialmedia {
    margin-top: 30px;
}
 /* ----------- Project Carousel ----------- */
 .carouselcontainer {
     width: 700px;
     height: 700px;
     margin-top: 100px;
     margin-bottom: 100px;
 }
 .carousel {
     border: 4px solid #f1c1c1
    }

.carousel-item {
    height: 500px;
}
.carousel-item img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}
.subheading {
    color: black;
    margin-bottom: 60px;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
.text {
    background-image: linear-gradient(rgba(216, 212, 212, 0.5), white);
    position: absolute;
    bottom: 0px;
    opacity: 1;
    left: 0;
    right: 0;
  }
h5 {
    color: black;
    margin-bottom: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.project-link {
    text-decoration: none;
}
 /* ----------- About me ----------- */
.aboutme {
   margin-bottom: 50px;
}
#mysection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    border: 4px solid #f1c1c1
}
.mypicture {
    display: block;
    max-width:500px;
    max-height:600px;
    width: auto;
    height: auto;
    border: 4px solid #f1c1c1
}
.btn {
    color: white;
    margin-right: 40px;
    font-size: 28px;
    border-radius: 15px;
}
.btn {
    transition-duration: 0.4s;
    display: block;
  }
  
  .btn:hover {
    background-color: #f1c1c1;
    color: white;
  }